image: node

stages:
  - build
  - test
  - deploy

build website:
  stage: build
  script:
    - npm install
    - npm install -g gatsby-cli
    - gatsby build
  artifacts:
    paths:
      - ./public
test artifacts:
  image: alpine
  stage: test
  script:
    - grep -q "Gatsby" ./public/index.html

test website:
  stage: test
  script:
    - npm install
    - npm install -g gatsby-cli
    - gatsby serve &
    - sleep 5
    -  curl "http://localhost:9000" | grep -q "Gatsby"

deploy to surge:
  stage: deploy
  script:
    - npm install -global surge
    - surge --project ./public --domain https://obnoxious-scissors.surge.sh/
  