image: node

stages:
  - build
  - test
  - deploy staging
  - deploy production
  - production tests  

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/
  policy: pull

variables:
  STAGING_DOMAIN: obnoxious-staging.surge.sh/
  PRODUCTION_DOMAIN: obnoxious-scissors.surge.sh/

build website:
  stage: build
  script:
    - echo "GATSBY_VERSION=${CI_COMMIT_SHORT_SHA}" > .env.production
    - npm install
    - npm install -g gatsby-cli
    - gatsby build
  artifacts:
    paths:
      - ./public
test artifacts:
  image: alpine
  cache: {}
  stage: test
  script:
    - grep -q "Gatsby" ./public/index.html

test website:
  stage: test
  script:
    - npm install
    - npm install -g gatsby-cli
    - gatsby serve &
    - sleep 5
    -  curl "http://localhost:9000" | grep -q "Gatsby"

deploy staging:
  cache: {}
  stage: deploy staging
  environment:
    name: staging
    url: https://$STAGING_DOMAIN
  script:
    - npm install -global surge
    - surge --project ./public --domain $STAGING_DOMAIN

deploy production:
  cache: {}
  stage: deploy production
  environment:
    name: production
    url: https://$PRODUCTION_DOMAIN
  when: manual
  allow_failure: false
  script:
    - npm install -global surge
    - surge --project ./public --domain $PRODUCTION_DOMAIN
  
production tests:
  cache: {}
  image: alpine
  stage: production tests
  script:
    - apk add --no-cache curl
    - curl "https://${PRODUCTION_DOMAIN}" | grep -q "Gatsby"