image: node

stages:
  - build
  - test
  - deploy
  - deployment tests  

build website:
  stage: build
  script:
    - echo "GATSBY_VERSION=${CI_COMMIT_SHORT_SHA}" > .env.production
    - npm install
    - npm install -g gatsby-cli
    - gatsby build
    - echo echo "{CI_COMMIT_SHORT_SHA}"
  artifacts:
    paths:
      - ./public
test artifacts:
  image: alpine
  stage: test
  script:
    - grep -q "Gatsby" ./public/index.html

test website:
  stage: test
  script:
    - npm install
    - npm install -g gatsby-cli
    - gatsby serve &
    - sleep 5
    -  curl "http://localhost:9000" | grep -q "Gatsby"

deploy to surge:
  stage: deploy
  script:
    - npm install -global surge
    - surge --project ./public --domain https://obnoxious-scissors.surge.sh/
  
test deployment:
  image: alpine
  stage: deployment tests
  script:
    - apk add curl
    - curl "https://obnoxious-scissors.surge.sh/" | grep -q "Gatsby"